%btn {
  padding: 15px 30px;
  border: none;
  border-radius: em(5px);
  color: $white;
  text-transform: capitalize;
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: initial;
  }
}

//Headlines

%headl-primary {
  font-weight: $font-weight--bold;
	font-size: em(32px);
	line-height: (46px / 36px);
	margin-bottom: em(70px, 42px);
  margin-top: 0;
  margin-left: 30px;
  text-align: center;
}

%headl-secondary {
  font-family: $font-family--secondary;
	font-weight: $font-weight--light;
	font-size: em(18px);
  letter-spacing: $letter-space;
}

%socials {
  background: white;
  border:1px solid palette(grey,xx-light);
  border-radius: $border-radius;
  padding:20px 10px;
  position: relative;
}

//Card

%card {
    padding: 15px 0;
    margin-top: 10px;
    border: 2px solid palette(grey, xx-light);
    width: 100%;
    background: white;
    border-radius: $border-radius;
    @include flexy($dir: column);
    @include mq(medium) {
        flex-direction: row;
    }

    h2 {
        @extend %headl-secondary;
        font-size: em(24px);
        @include mq(medium) {
            margin: 20px;
        }
        @include mq(small) {
            text-align: center;
        }
    }
}
