%btn {
  padding: 15px 30px;
  border: none;
  border-radius: em(5px);
  color: $white;
  font-size: em(38px);
  text-transform: capitalize;
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: initial;
  }
}

//Headlines

%headl-primary {
  font-weight: $font-weight--bold;
	font-size: em(32px);
	line-height: (46px / 36px);
	margin-bottom: em(70px, 42px);
  margin-top: 0;
  margin-left: 30px;
  text-align: center;
}

%headl-secondary {
  font-family: $font-family--secondary;
	font-weight: $font-weight--light;
	font-size: em(18px);
  letter-spacing: $letter-space;
}
