main {
  width: calc(100% - 20px);
  padding: 0 10px;
  margin-top:80px;
  transition: all 0.5s;
  @include mq(medium) {
    width: 80%;

  }

  .header {
    width: 100%;
    @include flexy($dir:column,$just:center);
    @include mq(medium) {
      @include flexy($dir:row);
    }

    h2 {
      @extend %headl-secondary;
      font-size: em(30px);
      text-align: center;
      margin: 20px auto;
    }
  }
}
