.card {
    @extend %card;
}

.message,
.settings {
    width: 100%;
    padding: 10px 0;
    @include mq(medium) {
        width: 45%;
    }
}

.message {
    text-align: center;
    margin-right: 10%;

    input,
    textarea {
        width: 90%;
        border: none;
        background: palette(grey, xx-light);
        border-radius: 5px;
        padding: 5px 5px;
        font-size: em(22px);
        color: palette(black, light);
        letter-spacing: 1.5px;
        margin: 10px auto;
    }

    input {
        height: 30px;
        font-weight: $font-weight--light;
    }

    textarea {
        height: 200px;
        resize: none;
    }

    .form-submit {
        background: $steel-blue;
        color: $white;
    }
}

.settings {
    @include flexy($dir: column);

    .input {
        @include flexy($just: baseline);
        width: 100%;
        margin: 10px 0 10px 5px;

        h3 {
            font-size: em(20px);
            font-weight: $font-weight--bold;
            margin-right: 20px;
            margin-top: 5px;
        }

        .slide {
            width: 60px;
            height: 30px;
            background: $steel-blue;
            position: relative;
            border-radius: 50px;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
            &:after {
                content: '';
                position: absolute;
                top: 14px;
                left: 14px;
                height: 2px;
                width: 42px;
                background: #111;
                border-radius: 50px;
                box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
            }
            label {
                display: block;
                width: 22px;
                height: 22px;
                cursor: pointer;
                position: absolute;
                top: 4px;
                z-index: 1;
                left: 4px;
                background: #fcfff4;
                border-radius: 50px;
                transition: all 0.4s ease;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
                background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    background: #333;
                    border-radius: 50px;
                    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 1), 0px 1px 0px rgba(255, 255, 255, 0.9);
                }
            }
            input[type=checkbox] {
                visibility: hidden;
                &:checked+label {
                    left: 38px;
                    &:after {
                        background: $spring-green;
                    }
                }
            }
        }
    }
    @include mq(small) {
        border-top: 1px solid palette(grey, xx-light);
    }

    select {
        width: 90%;
        height: 40px;
        background: palette(grey, xx-light);
        margin: 30px auto;
        border: none;
        border-radius: 5px;
    }
}

.wrap-buttons {
    @include flexy($dir: column, $just:center);
    @include mq(medium) {
        flex-direction: row;
    }

    .save,
    .cancel-settings {
        width: 90%;
        color: white;
        border-radius: $border-radius;
        font-weight: $font-weight--bold;
        border: none;
        height: 30px;
        margin: 10px auto;
        @include mq(medium) {
            width: 45%;
        }
    }

    .cancel-settings {
        background: palette(grey);
        @include mq(medium) {
            margin-left: auto;
        }
    }
    .save {
        background: $steel-blue;
    }
}