.chart-time {
    margin: 10px auto;
    width: 90%;
    @include flexy($dir: column, $just:center);
    @include mq(medium) {
        flex-direction: row;
    }

    .times {
        width: 40%;
        margin: 20px auto;
        padding: 5px 0;
        @include flexy($dir: column, $just:center);
        @include mq(medium) {
            flex-direction: row;
            margin-left: auto;
            margin-right: 0;
        }

        li {
            width: 100%;
            font-size: em(20px);
            margin-bottom: 5px;
            text-align: center;
            cursor: pointer;
            font-weight: $font-weight--bold;
        }
    }
}

.chart-container {
    background: white;
    border-radius: $border-radius;
    height: 250px;
    max-width: 80%;
    min-width: 100px;
    margin: 5px auto;
    padding: 20px 0;

    @include mq(small) {
        max-width: 250px;
        padding: 20px;
    }
}

.active-time {
    background: $spring-green;
    border-radius: 15px;
    color: $white;
}

.chartgroup {
    background: white;
    margin: 20px auto;
    width: 100%;
    border-radius: $border-radius;
    @include flexy($dir: column, $just:center);
    @include mq(medium) {
        flex-direction: row;
        border: 1px solid palette(grey, xx-light);
    }
}

.mobilechart {
    @include mq(medium) {
        border-left: 1px solid palette(grey, xx-light);
        padding: 10px 0 10px 20%;
        margin-left: auto;
    }
    @include mq(small) {
        border-top: 1px solid palette(grey, xx-light);
    }
}

.dailychart,
.mobilechart {
    max-width: 250px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    @include mq(small) {
        max-width: 100%;
        width: 90%;
    }
}