h1.logo {
  @extend %headl-primary;
  color: $white;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right:10px;
  font-size: em(22px);

  @include mq(medium) {
    order: 1;
    margin-right: auto;
    margin-left: 0;
  }
}

h2.name-profile {
  @extend %headl-secondary;
  display: none;
  color: $white;

  @include mq(medium) {
    display: block;
    order: 4;
    border-left:2px solid $white;
    margin-left: 15px;
    padding-left: 15px;
    margin-right:10px;
  }
}

h2.title-chart {
  @extend %headl-secondary;
  font-size: em(30px);
  text-align: center;
  margin: 20px 0;
}
