.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;

  @include e(profile) {
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
    cursor: auto;

    @include mq(medium) {
      order: 3;
    }
  }

  @include e(bell) {
    margin-left: -5px;
    margin-top: 2px;
    transition: transform $trns-duration;

    &:hover {
      transform: scale(1.2);
    }
  }

}
