.bell-wrapp {
    position: relative;
  &::before {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: $tomato;
    top: -28px;
    right: 1px;
}

  @include mq(medium) {
    order: 2;
  }
}

.notification {
  display: none;
  background: rgba(2,2,2,0.75);
  color: $white;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top:0;
  left: 0;
  padding: 40px 0;
  height: 100vh;

  li {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: em(24px);
    @include flexy();
    @include mq(medium) {
      margin-left: 160px;
      font-size: em(30px);
    }

    .remove {
      color: $red;
      cursor: pointer;
      margin-right: 20px;
      margin-left: auto;

      @include mq(medium) {
        margin-right: 200px;
      }
    }

    span {
      color: $steel-blue;
      font-weight: $font-weight--ultra-bold;
    }

  }
  .close {
    position: absolute;
    top: 10px;
    left:10px;
    font-size: em(28px);
    color:$red;
    font-weight: $font-weight--ultra-bold;
    cursor: pointer;
  }
}

//MEssages for forms submited

.submit-form,
.submit-settings {
  display: none;
  width: 50%;
  position: fixed;
  top: 40%;
  left: 0;
  right:0;
  margin: 0 auto;
  background: white;
  z-index: 1000;
  border-radius: 5px;

  h2 {
    width: 100%;
    margin: 40px auto;
    padding-bottom: 20px;
    font-size: em(32px);
    border-bottom: 2px solid palette(grey,light);
  }

  p {
    width: 100%;
    font-size: em(24px);
    margin: 20px auto;
  }

}

.submit-settings {
    border: 2px solid palette(grey,xx-light);
    background: #f2f2f2;
  }

.close-confirm {
    @extend %btn;
    color: black;
    background: none;
    border: 2px solid palette(grey,xx-light);
    font-size: em(28px);
    margin: 10px;
  }
